:root {
    --primary-text-color: #2E2F42; 
    --title-text-color: #434455;
    --aacent-color: #4D5AE5;
    --logo-seclast-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --order-button-color: #FFFFFF;
    --hover-focus-color: #404BBF; 
}

body {
    font-family: 'Roboto', sans-serif;
    color:  var(--primary-text-color);
    background-color: white;
}
/*Цвет основного теста #2E2F42*/
/*Цвет вторичный теста #434455*/
/*лого #4D5AE5 и #2E2F42(верх)/#F4F4FD(низ)*/
/*белый #FFFFFF*/
/*подвал абзац #E7E9FC*/
.list {
    list-style: none;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
text-decoration: none;
}
/*------------logo----------*/
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--aacent-color);
}
.logo-frst {
    color: var(--primary-text-color);
}

.logo:hover,
.logo:focus {
    color: var(--hover-focus-color);
}
.logo-frst:hover,
.logo-frst:focus {
    color: var(--hover-focus-color);
}
.logo-scnd {
    color: var(--logo-seclast-color);
}
.logo-scnd:hover,
.logo-scnd:focus {
    color: var(--hover-focus-color);
}
/*------------header--------------------*/
.site-nav .link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--hover-focus-color);
    text-decoration: underline;
}
.inf-nav .nav-link {
    color: var(--primary-text-color);
    font-style: normal;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.inf-nav .nav-link:hover,
.inf-nav .nav-link:focus {
    color: var(--hover-focus-color);
}
/*------------studio-------------------*/
.hero {
    background-color: var(--primary-text-color);
}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--order-button-color);
}

/*преимущества*/

.features-list .title,
 .services h3 {
    color: var(--primary-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.features-list .part,
.services p {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.functions-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team {
    background-color: var(--logo-seclast-color);
}

.team-title {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.team-prof {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/*button*/
.button {
    font-family: 'Roboto', sans-serif;
    color: var(--order-button-color);
    background-color: var(--aacent-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer
}
.button:hover,
.button:focus {
    background-color: var(--hover-focus-color);
}
.button-active {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--order-button-color);
        background: var(--aacent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            cursor: pointer
}
.button-main {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--aacent-color);
        background: var(--logo-seclast-color);
        cursor: pointer
}
.button-main:hover,
.button-main:focus {
    color: var(--order-button-color);
    background-color: var(--aacent-color);
}
/* ----------------footer---------------------------*/
.last {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--footer-text-color);
}
.foot {
    background: var(--primary-text-color);
}

